/*=====================
    2.Header CSS start
==========================*/

.onhover-dropdown {
	position: relative;
	font-size: 14px;
}
.onhover-dropdown:before {
	content: '\f107';
	font-family: FontAwesome;
	position: absolute;
	right: 3px;
}
.onhover-dropdown .onhover-show-div {
	top: 50px;
	position: absolute;
	z-index: 10;
	background-color: #f8f8f8;
	-webkit-transition: all linear 0.3s;
	transition: all linear 0.3s;
	min-width: 160px;
	text-align: left;
	-webkit-box-shadow: 0 0 1px 0 #ebebeb;
	box-shadow: 0 0 1px 0 #ebebeb;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	right: 0;
	padding: 15px 20px;
	border-radius: 0 !important;
}
.onhover-dropdown .onhover-show-div.product-page-full {
	z-index: 99999;
}
.onhover-dropdown:hover .onhover-show-div {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	visibility: visible;
}

.onhover-div {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: Lato, sans-serif;
}
.onhover-div img,
.onhover-div i {
	cursor: pointer;
}
.onhover-div .show-div {
	top: 103px;
	position: absolute;
	z-index: 9;
	background-color: #efefef;
	-webkit-transition: all linear 0.3s;
	transition: all linear 0.3s;
	min-width: 236px;
	text-align: left;
	-webkit-box-shadow: 0 0 1px 0 #ebebeb;
	box-shadow: 0 0 1px 0 #ebebeb;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	right: 0;
	padding: 0;
	border-radius: 0 !important;
}
.onhover-div:hover .show-div {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	visibility: visible;
}

.top-header {
	background-color: #390375;
}
.top-header-conntainer {
	max-height: 50px;
}
.top-header .header-contact {
	padding: 15px 0;
}
.top-header .header-contact li {
	color: #ca76d8;
	font-size: 14px;
	padding-right: 25px;
	list-style: none;
	display: inline-block;
}
.top-header .header-contact li i {
	color: #ff4c3b;
	padding-right: 10px;
}
.header-dropdown {
	padding-left: 0;
}
.top-header .header-dropdown li {
	cursor: pointer;
	color: #ca76d8;
	padding: 15px 25px;
	list-style: none;
	display: inline-block;
}
.top-header .header-dropdown li:first-child {
	padding-right: 0;
}
r .top-header .header-dropdown li:nth-child(2) {
	padding-right: 25px;
}
.top-header .header-dropdown li a {
	text-transform: capitalize;
	color: #ca76d8;
}
.top-header .header-dropdown li i {
	padding-right: 5px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.top-header .header-dropdown li ul li {
	padding-top: 0;
	padding-bottom: 0;
}
.top-header .header-dropdown li a i {
	color: #ca76d8;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.top-header .header-dropdown li a:hover i {
	color: #ff4c3b;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.top-header .header-dropdown li:hover i {
	color: #ff4c3b;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.top-header .header-dropdown .onhover-dropdown .onhover-show-div li {
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 15px;
	padding-bottom: 5px;
}
.top-header .header-dropdown .onhover-dropdown .onhover-show-div li:last-child {
	padding-bottom: 0;
}
.top-header .header-dropdown .onhover-dropdown .onhover-show-div li a {
	color: #333333;
}

@keyframes smoothScroll {
	0% {
		-webkit-transform: translateY(-40px);
		transform: translateY(-40px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

/***************************************************************************
 MENU CSS
 *****************************************************************************/

#btn {
	position: fixed;
	z-index: 25;
	top: 15px;
	left: 15px;
	cursor: pointer;
	transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#btn div {
	width: 35px;
	height: 2px;
	margin-bottom: 8px;
	background-color: #ca76d8;
	transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms,
		background-color 250ms;
}
#btn.active {
	left: 200px;
}
#btn.active div {
	background-color: #00dffc;
}
#btn.active #top {
	transform: translateY(10px) rotate(-135deg);
}
#btn.active #middle {
	opacity: 0;
	transform: rotate(135deg);
}
#btn.active #bottom {
	transform: translateY(-10px) rotate(-45deg);
}
#box {
	position: fixed;
	z-index: 24;
	overflow: auto;
	top: 0px;
	left: -275px;
	width: 250px;
	opacity: 0;
	padding: 20px 0px;
	height: 100%;
	background-color: #390375;
	color: #ca76d8;
	transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#box.active {
	left: 0px;
	opacity: 1;
}
#items {
	position: relative;
	top: 25%;
	transform: translateY(-50%);
}
#items .item {
	position: relative;
	cursor: pointer;
	padding: 10px 10px;
	transition: all 250ms;
	font-weight: 600;
	width: 90%;
	text-align: left !important;
	letter-spacing: 1px;
}
#items .item a {
	text-decoration: none;
}
#items .item li {
	padding: 0px 0px;
}
#items .item:hover {
	padding: 10px 5px;
	background-color: rgba(52, 56, 56, 0.2);
}
#btn,
#btn * {
	will-change: transform;
}
#box {
	will-change: transform, opacity;
}

.main-menu {
	background: #480496;
	display: flex;
	justify-content: center;
	align-items: center !important;
}
.main-navbar p {
	color: #ca76d8 !important;
	font-size: 16px;
	font-weight: 800;
	line-height: 50px;
	text-transform: uppercase;

	letter-spacing: 0.07em;
}

/*************************RESPONSIVE CSS****************************/

@media (min-width: 1200px) {
	.toggle-nav {
		display: none !important;
	}
}
@media (max-width: 1199px) {
	.main-navbar {
		display: none;
	}
	.main-navbar .nav-menu {
		width: 300px;
		border-radius: 0;
		z-index: 99;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		overflow: scroll;
	}

	.main-navbar .nav-menu > li {
		display: block;
		float: none;
		width: 100%;
	}
	.main-navbar .nav-menu > li a {
		padding: 10px 15px;
		font-size: 16px;
		font-weight: 700;
		position: relative;
	}
}
